# .gitignore

# Ignore specific file
venv/lib/python3.9/site-packages/torch/lib/libtorch_cpu.dylib


# Node.js packages
node_modules/

# Compiled Python files
*.pyc

# macOS directory files
.DS_Store

# Include your project files explicitly
!frontend.py
!backend.py
!preprocess_data.py
!preprocessed_recipes.csv
!IndianHealthyRecipe.csv
!requirements.txt
!README.md
